/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}

ul, ol {list-style: none;}

a {text-decoration: none; color: #fafafa;}

#wrapper {
    width: 100%;            
}

strong {
    font-weight: bold;
}

/* 헤더 */
header {
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 230px;
    background-color: #ff1f45;
}
header > #top-gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1300px;
    height: 30px;
    margin: 0 auto;
    z-index: 20000;
    filter: brightness(.9);
    background-color: #ff1f45;
}
header > #top-gnb > .top-wrap {
    width: 1200px;
    height: 30px;
    position: relative;
    margin: 0 auto;
}
header > #top-gnb > .top-wrap > .top-util {
    position: absolute;
    right: 0;
    line-height: 30px;
}
header > #top-gnb > .top-wrap > .top-util > ul {}
header > #top-gnb > .top-wrap > .top-util > ul > li {
    float: left;
    position: relative;
    margin-left: 20px;
    color: #777;
}
header > #top-gnb > .top-wrap > .top-util > ul > li > a {
    display: block;
    line-height: 30px;
    font-weight: bold;
    opacity: .5;
}

header > #gnb {
    position: fixed;
    top: 30px;
    left: 0;
    padding: 23px 0;
    width: 100%;
    min-width: 1300px;
    height: 70px;
    z-index: 16000;
    pointer-events: none;
    background-color: rgba(255, 31, 69, .98);
}
header > #gnb > .inner-wrap {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    pointer-events: visible;
}
header > #gnb > .inner-wrap > h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 20px;
    box-sizing: border-box;
    text-align: left;
    padding: 0;
    margin: 0;
}
header > #gnb > .inner-wrap > h1 > a {
    display: block;
    width: 140px;
    height: 30px;
    font-size: 0;
    overflow: hidden;
    background-image: url('/ottving/img/ottving_logo.png');
    background-repeat: no-repeat;
    background-position: 0 3PX;
    background-size: 100% auto;
}
header > #gnb > .inner-wrap > .gnb-menu {
    text-align: center;
}
header > #gnb > .inner-wrap > .gnb-menu > h2 {
    line-height: 1em;
    font-size: 16px;
    display: inline;
    padding: 0 2px;
    color: #111;
    margin-right: 0;
    font-weight: 500;
}
header > #gnb > .inner-wrap > .gnb-menu > h2 > a {
    height: 100%;
    padding: 0 30px;
    position: relative;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

header > #gnb > .inner-wrap > .gnb-util {
    position: absolute;
    right: 0;
    top: -6PX;
    line-height: 1em;
    width: auto;
}
#gnbSearch {
    position: absolute;
    right: 0;
    top: 1px;
    width: 254px;
    height: 40px;
    z-index: 500;
    background: rgba(0, 0, 0, .2);
    border-radius: 30px;
    border: 2px solid transparent;
}
#gnbSearch > .gnb-search-input {
    margin-bottom: 10px;
}
#gnbSearch > .gnb-search-input > input[type=text] {
    border: 0;
    width: 100%;
    height: 36px;
    background: transparent;
    font-size: 15px;
    line-height: 100%;
    padding: 0 50px 0 20px;
    box-sizing: border-box;
    color: #fafafa;
}
header .gnb-util .btnSearch {
    display: block;
    width: 25px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 15px;
    border: none;
    background: none;
    color: #fafafa; 
}
