/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#admin-wrapper {
    width: 100%;
    height: auto;
    border: 1px solid red;
    box-sizing: border-box;
}

strong {font-weight: bold;}

/* 헤더영역 */
header {
    width: 100%;
    height: 120px;
    background: url('../img/admin_bg_header.jpg') repeat-x;
}

header > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
header > div > img {
    float: left;
    margin-top: 46px;
}
header > div > p {
    float: right;
    color: #fff;
    margin-top: 46px;
}
header > div > P > span {
    margin-right: 16px;
}
header > div > p > a {
    color: #fff;
}


/* 메인영역 - 공통 */
main {
    width: 1400px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
main > aside {
    float: left;
    width: 270px;
    height: auto;
    background: url('../img/admin_bg_aside.jpg') repeat-y;
    border-left: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#gnb {
    width: 100%;
    height: auto;
}
#gnb > li {
    width: 100%;
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#gnb > li:last-child {border-bottom: 1px solid #c0c0c0;}

#gnb > li > a {
    display: block;
    width: 100%;
    height: 66px;
    font-size: 13px;
    font-weight: bold;
    color: #222;
    line-height: 66px;
}
#gnb > li > a > i {
    text-indent: 18px;
    margin-right: 10px;
    font-size: 20px;
}

#gnb ol {
    text-indent: 50px;
    display: none;
    width: 100%;
    height: auto;
}
#gnb ol > li {
    width: 100%;
    height: 32px;
}
#gnb ol > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

main > section {
    float: right;
    width: 1130px;
    min-height: 600px;
}

/* 첫화면 메인 - index */
#main {
    float: right;
    width: 80%;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}
#main > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#main > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}
#main > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}
#main > nav > p > strong {
    font-weight: bold;
}

#main h4 {
    font-size: 16px;
    font-weight: bold;
}
#main > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#main > article > table {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border-collapse: collapse;
    border-top: 2px solid #8798a3;
}
#main > div {
    margin-bottom: 26px;
    overflow: hidden;
}
#main > div > article:nth-child(1) {
    float: left;
    width: 49%;
    height: 100%;
    box-sizing: border-box;
}
#main > div > article:nth-child(2) {
    float: right;
    width: 49%;
    height: 100%;
    box-sizing: border-box;
}
#main > div > article > .notice {
    padding: 16px;
    margin-top: 6px;
    border: 1px solid #e5e5e5;
    border-top: 2px solid #8798a3;
    box-sizing: border-box;
}

#main table tr:first-child {
    background: #fafafa !important;
}
#main table tr > td {
    width: 20%;
    text-align: center;
    color: #111;
    border: 1px solid #e5e5e5;
    padding: 6px 6px 6px 12px;
}
#main table tr > td > strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
#main table tr > td > span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
}

#main table td > p {
    padding: 6px;
    overflow: hidden;
}
#main table td > p > span:nth-child(1){
    float: left;
}
#main table td > p > span:nth-child(2){
    float: right;
}

#main .notice {
    padding: 16px;
    margin-top: 6px;
    border: 1px solid #e5e5e5;
}
#main .notice > p {
    line-height: 26px;
    overflow: hidden;
}
#main .notice > p > span:nth-child(1) {
    float: left;
    display: block;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}



/* 푸터영역 */
footer {
    width: 100%;
    height: 60px;
    background: #0d3146;
}

footer > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
footer > div > p {
    padding-top: 22px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

/* admin 공통 */
#admin-wrapper {
    width: 100%;
    min-width: 980px;
    height: auto;
}

#admin-wrapper > main > section{
    float: right;
    width: 80%;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

#admin-wrapper > main section > nav {
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 16px;
    border-bottom: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#admin-wrapper > main section > nav > h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}
#admin-wrapper > main section > nav > p {
    position: absolute;
    right: 0;
    bottom: 10px;
}

/* 상품등록 : product-register */
#product-register > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#product-register > article > form {}

#product-register > article section {
    margin-bottom: 16px;
}
#product-register > article section > h4 {
    font-size: 16px;
}
#product-register > article section > p {
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

#product-register > article section > table {
    width: 100%;
    border-collapse: collapse;
}

#product-register > article table tr > td {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    text-align: left;
}

#product-register > article table tr > td:nth-child(1) {
    width: 160px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 10px;
    text-align: left;
}
#product-register select {
    width: 150px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    box-sizing: border-box;
}

#product-register input {
    width: 200px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;

}

#product-register > article table span {
    display: block;
}
#product-register span {
    vertical-align: bottom;
    color: #bc2e13;
}

#product-register > .product-register input[type=submit] {
    float: right;
    width: 100px;
}

p.ico {
    width: 100%;
    height: 58px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    padding-left: 50px;
    line-height: 58px;
    box-sizing: border-box;
}

p.alert {
    border-color: #FDD845;
    background: #FFF6BF url(../img/admin_ico_alert.png) no-repeat scroll 15px 16px;
}

/* 상품등록 : product-list */
#product-list {}
        
#product-list > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
#product-list > article section {
    margin-bottom: 16px;
}
#product-list > article table {
    width: 100%;
    border-collapse: collapse;
}

#product-list > .product-list > section > div {
    margin-bottom: 10px;
}

#product-list select {
    width: 150px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    box-sizing: border-box;
}

#product-list input {
    width: 200px;
    margin-left: 5px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}

#product-list > .product-list > section > table {
    border-top: 2px solid #8798a3;
}
#product-list > .product-list > section > table tr > th {
    font-weight: bold;
    padding: 10px 0;
    background: #f6f6f6;
}
#product-list input[type=checkbox] {
    width: auto;
    margin-right: 6px;
}

#product-list > .product-list > section > table tr > td {
    background: #fff;
    text-align: center;
    box-sizing: border-box;
}
#product-list > .product-list > section > table img.thumb {width: 60px;}
#product-list > .product-list > section > table tr > td:nth-child(1) {width: 20px;}
#product-list > .product-list > section > table tr > td:nth-child(2) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(3) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(4) {width: auto; text-align: left;}
#product-list > .product-list > section > table tr > td:nth-child(5) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(6) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(7) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(8) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(9) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(10) {width: 80px;}
#product-list > .product-list > section > table tr > td:nth-child(11) {width: 100px;}

#product-list > .product-list > section input[type=button] {
    float: left;
    width: 100px;
    margin-top: 10px;
}

#product-list > .product-list .paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

#product-list span {
    vertical-align: bottom;
    color: #bc2313;
}

#product-list > .product-list .paging > span > a {
    color: rgb(119, 119, 119);
    font-size: 11px;
    letter-spacing: -1px;
}
#product-list > .product-list .paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}
#product-list > .product-list .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

p.ico {
    width: 100%;
    height: 58px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    padding-left: 50px;
    line-height: 58px;
    box-sizing: border-box;
}

p.info {
    border-color: #8497Bf;
    background: #a8B2C5 url('../img/admin_ico_info.png') no-repeat scroll 15px 16px;
}